.rpw-home aside#recent-posts-widget-with-thumbnails-3{
    position: static;
    > * > ul > li {
        display: inline-block;
        width: 33%;
        img {
            width: 100%;
            height: auto;
        }
    }
}

h6.widget-title {
    color: #ffffff;
    font-size: 20px;
    margin-top: 0px;
    margin-left: 14%;
}